-load static compress raven

!!!5
html(lang='de')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no')
    //link(rel="shortcut icon", href="{% static 'img/favicon.ico' %}")
    title
      block title
        | Lernwerstatt
    link(href="https://fonts.googleapis.com/css?family=Barrio", rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css")
    link(rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css")
    script(src="/static/js/imageMapResizer.min.js")

    -compress css
      link(rel='stylesheet', type='text/x-sass', href='{% static "sass/styles.sass" %}')

body
  #app
    header
      block header
        .container.section
          img.logo(src="/static/img/lernwerkstatt_logo.png")
    main
      block content
    footer
      block footer
        .container.section
          | huhu


  script(src="https://unpkg.com/vue@2.5.13/dist/vue.min.js")

  // the missing javascript functions
  script(src="https://unpkg.com/lodash@4.13.1/lodash.min.js")

  // ajax calls
  script(src="https://unpkg.com/axios@0.18.0/dist/axios.min.js")

  // Buefy UI framework
  script(src="https://unpkg.com/buefy")
  script.
    Vue.use(Buefy.default)
    imageMapResize();

  -compress js
     block extra_js
